.cart-container {
    margin: 2rem auto;
    max-width: 800px;
    padding: 2rem;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .cart-items {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }
  
  .cart-item-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 1rem;
  }
  
  .cart-item-info {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item-info h3 {
    margin: 0;
  }
  
  .cart-item-info p {
    margin: 0;
    color: #888;
  }

  .cart-buttons {
    margin-top: 20px;
  }
  